{% load static %}
<div class="container">
    <footer class="py-5 my-5 row border-top">
      <div class="mb-3 col-6">
        <a href="/" class="mb-3 d-flex align-items-center link-body-emphasis text-decoration-none">
            <img src="{% static 'img/logo_small_45.webp' %}" alt="Travellab Logo" />
        </a>
        <p>ЧТУП "Трэвэл Лаб"<br>
            Регистрационный номер 192689959 зарегистрирован 15.08.2016г.<br>
            Минским городским исполнительным комитетом.
            </p>
      </div>

      <div class="mb-3 col">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="mb-2 nav-item"><a href="#" class="p-0 nav-link text-body-secondary">Home</a></li>
          <li class="mb-2 nav-item"><a href="#" class="p-0 nav-link text-body-secondary">Features</a></li>
          <li class="mb-2 nav-item"><a href="#" class="p-0 nav-link text-body-secondary">Pricing</a></li>
          <li class="mb-2 nav-item"><a href="#" class="p-0 nav-link text-body-secondary">FAQs</a></li>
          <li class="mb-2 nav-item"><a href="#" class="p-0 nav-link text-body-secondary">About</a></li>
        </ul>
      </div>

      <div class="mb-3 col">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="mb-2 nav-item"><a href="#" class="p-0 nav-link text-body-secondary">Home</a></li>
          <li class="mb-2 nav-item"><a href="#" class="p-0 nav-link text-body-secondary">Features</a></li>
          <li class="mb-2 nav-item"><a href="#" class="p-0 nav-link text-body-secondary">Pricing</a></li>
          <li class="mb-2 nav-item"><a href="#" class="p-0 nav-link text-body-secondary">FAQs</a></li>
          <li class="mb-2 nav-item"><a href="#" class="p-0 nav-link text-body-secondary">About</a></li>
        </ul>
      </div>

      <div class="mb-3 col">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="mb-2 nav-item"><a href="#" class="p-0 nav-link text-body-secondary">Home</a></li>
          <li class="mb-2 nav-item"><a href="#" class="p-0 nav-link text-body-secondary">Features</a></li>
          <li class="mb-2 nav-item"><a href="#" class="p-0 nav-link text-body-secondary">Pricing</a></li>
          <li class="mb-2 nav-item"><a href="#" class="p-0 nav-link text-body-secondary">FAQs</a></li>
          <li class="mb-2 nav-item"><a href="#" class="p-0 nav-link text-body-secondary">About</a></li>
        </ul>
      </div>
    </footer>
  </div>