{% extends "base.html" %}
{% load static %}
{% block head_title %}Корпоративные туры{% endblock head_title %}

{% block content %}

<div class="container px-4 py-5 col-xxl-8">
    <div class="py-5 row flex-lg-row-reverse align-items-center g-5">
      <div class="col-lg-5">
        <img src="{% static 'img/korporativniy_ tur_master_klass_v_pekarne.webp' %}" class="rounded mx-auto img-fluid" alt="Корпоративные туры" loading="lazy">
      </div>
      <div class="col-lg-7">
        <h1 class="mb-3 fw-bold text-body-emphasis lh-1">На связи Travellab - лаборатория путешествий и незабываемых впечатлений.</h1>
        <p class="lead">Уже более 7 лет мы воплощаем любые по сложности идеи и организуем туры и выездные мероприятия, помогая укреплять корпоративный дух сотрудников разных компаний.</p>
        <div class="gap-2 d-grid d-md-flex justify-content-md-start">
          <a type="button" class="px-4 btn btn-primary btn-lg me-md-2" href="#reviews">Отзывы</a>
        </div>
      </div>
    </div>
  </div>

{% comment %} feauters icons {% endcomment %}

<div class="container px-4" id="feauters">
    <h2 class="pb-2 border-bottom">Выбрав нас, вы получите:</h2>
    <div class="py-5 row row-cols-1 row-cols-sm-2 g-4">
      <div class="col d-flex align-items-start">
        <i class="px-2 bi bi-hand-thumbs-up fs-2"></i>
        <div>
          <h3 class="mb-0 fw-bold fs-4 text-body-emphasis">Индивидуальный подход</h3>
          <p>Опираясь на наш 7-и летний опыт и учитывая ваши пожелания и бюджет, мы разработаем насыщенную программу с интересными местами, полную комфорта и удовольствия.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="px-2 bi bi-piggy-bank fs-2"></i>
        <div>
          <h3 class="mb-0 fw-bold fs-4 text-body-emphasis">Доступные цены</h3>
          <p>Благодаря эксклюзивным договорам с проверенными подрядчиками, вам откроются самые выгодные условия для вашего корпоративного тура.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="px-2 bi bi-people-fill fs-2"></i>
        <div>
          <h3 class="mb-0 fw-bold fs-4 text-body-emphasis">Профессиональная команда</h3>
          <p>Ответственные менеджеры, опытные гиды и чуткие сопровождающие сделают ваш корпоративный тур продуманным, ярким и незабываемым. Вам не придется беспокоиться и заботиться об организационных моментах.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="px-2 bi bi-arrow-repeat fs-2"></i>
        <div>
          <h3 class="mb-0 fw-bold fs-4 text-body-emphasis">Полное сопровождение</h3>
          <p>Мы контролируем каждую деталь вашего тура/мероприятия от начала и до конца, гарантируя его качественное проведение и внимательное отношение к вашим пожеланиям на всех этапах.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="px-2 bi bi-bus-front fs-2"></i>
        <div>
          <h3 class="mb-0 fw-bold fs-4 text-body-emphasis">Транспорт</h3>
          <p>Наши автобусы туристического класса обеспечат необходимое количество мест, максимальный комфорт и безопасность ваших сотрудников во время поездок.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="px-2 bi bi-house-heart-fill fs-2"></i>
        <div>
          <h3 class="mb-0 fw-bold fs-4 text-body-emphasis">Проживание и питание</h3>
          <p>Мы подберем комфортные условия проживания для вашей команды и предложим организацию питания с учетом предпочтений ваших сотрудников.</p>
        </div>
      </div>
    </div>
  </div>

<section id="callback-form" class="mb-3">
    <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-center text-gray-900 dark:text-white">Свяжитесь с нами</h2>
      <p class="mb-4 font-light text-center text-gray-500 lg:mb-16 dark:text-gray-400 sm:text-xl">Заполните форму и получите индивидуальный расчет тура, после консультации.</p>
      <div class="container">
        <div class="row">
          <div class="mx-auto col-sm col-md-6">
            {% include 'forms/callback.html' %}
          </div>
        </div>
      </div>
</section>

{% comment %} help section {% endcomment %}
<div class="container px-4 py-2" id="help-section">
    <h2 class="pb-2 border-bottom">Мы поможем вам</h2>
    <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col-md-5">

              <img src="{% static 'img/korporativnie-turi-pomosch-s-organizaciei-turov.webp' %}" alt="Корпоративные туры из Минска" class="rounded mx-auto img-fluid" loading="lazy">

        </div>
        <div class="col-md-7 gap-3">
          <div class="d-flex align-items-start">
            <i class="px-2 fs-2 bi bi-check-circle-fill"></i>
              <div>
                <p>Организовать яркий корпоративный тур или выездное мероприятие, не выходя за рамки бюджета</p>
              </div>
          </div>
          <div class="d-flex align-items-start">
            <i class="px-2 fs-2 bi bi-check-circle-fill"></i>
              <div>
                <p>Разработать уникальную программу тура, учитывая ваши пожелания и разнообразие интересов сотрудников</p>
              </div>
          </div>
          <div class="d-flex align-items-start">
            <i class="px-2 fs-2 bi bi-check-circle-fill"></i>
              <div>
                <p>Выбрать лучшие локации, места для проживания и питания</p>
              </div>
          </div>
          <div class="d-flex align-items-start">
            <i class="px-2 fs-2 bi bi-check-circle-fill"></i>
              <div>
                <p>Грамотно решить вопросы логистики и транспорта</p>
              </div>
          </div>
          <div class="d-flex align-items-start">
            <i class="px-2 fs-2 bi bi-check-circle-fill"></i>
              <div>
                <p>Расширить программу лояльности для ваших сотрудников</p>
              </div>
          </div>
        </div>
    </div>
</div>

<div class="container p-4 py-5" id="tour-types">
    <h2 class="pb-2 border-bottom">Виды корпоративных мероприятий</h2>
    <p class="lead">Мы предлагаем вам профессиональную организацию выездных мероприятий и корпоративных туров различных форматов и масштабов:</p>
    <div class="row justify-content-evenly">
        <div class="col-md-3 mb-2">
          <div class="d-grid gap-2">
            <a href="#" class="btn btn-primary">Экскурсионные туры</a>
            <a href="#" class="btn btn-primary">Дегустационные туры</a>
            <a href="#" class="btn btn-primary">Рождественские<br>и новогодние туры</a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="d-grid gap-2">
            <a href="#" class="btn btn-primary">Тимбилдинги</a>
            <a href="#" class="btn btn-primary">Мастер классы и квесты</a>
            <a href="#" class="btn btn-primary">Корпоративные вечера<br>и праздники</a>
          </div>
        </div>
    </div>
</div>
{% comment %} advantages of corporate {% endcomment %}
<div class="container px-4 py-5" id="advantages-corp">
  <h2 class="pb-2 border-bottom">Плюсы корпоративных мероприятий</h2>
  <div class="py-5 row row-cols-1 row-cols-md-2 g-4 justify-content-evenly">
    <div class="col-md-4  text-center">
      <div class="d-grid gap-2">
        <img src="{% static 'img/plysi-korporatovnih-turov.webp' %}" alt="Корпоративные туры из Минска" class="rounded mx-auto img-fluid" loading="lazy">

      </div>
    </div>
      <div class="col-md-4">
        <div class="d-grid gap-2">
          <p>Повышают лояльность сотрудников</p>
          <p>Показывают, что вы цените команду</p>
          <p>Объединяют коллег общими впечатлениями</p>
          <p>Укрепляют связи между сотрудниками</p>
          <p>Сближают коллег в неформальной обстановке</p>
          <p>Поднимат командный дух</p>
          <p>Укрепляют связи между сотрудниками</p>
        </div>
      </div>
  </div>
</div>

{% comment %} how-we-work {% endcomment %}

<div class="container px-4" id="how-we-work">
  <h2 class="pb-2 border-bottom">Как выглядит работа с нами?</h2>
  <div class="py-5 row row-cols-1 row-cols-md-2 g-4">
    <div class="col d-flex align-items-start">
      <i class="px-2 bi bi-phone-vibrate-fill fs-2"></i>
      <div>
        <h3 class="mb-0 fw-bold fs-4 text-body-emphasis">Оформление заявки</h3>
        <p>Оставьте контактный номер телефона и наш менеджер свяжется с вами, чтобы  обсудить все детали и пожелания по туру.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <i class="px-2 bi bi-person-workspace fs-2"></i>
      <div>
        <h3 class="mb-0 fw-bold fs-4 text-body-emphasis">Разработка программы</h3>
        <p>После получения всей информации мы начинаем разрабатывать программу.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <i class="px-2 bi bi-people-fill fs-2"></i>
      <div>
        <h3 class="mb-0 fw-bold fs-4 text-body-emphasis">Согласование и утверждение</h3>
        <p>Мы высылаем вам подробную программу тура, в которой прописаны все достопримечательности, маршрут, проживание и питание. </p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <i class="px-2 bi bi-arrow-repeat fs-2"></i>
      <div>
        <h3 class="mb-0 fw-bold fs-4 text-body-emphasis">Заключение договора и оплата</h3>
        <p>После утверждения программы мы заключаем с вами договор удобным вам способом.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <i class="px-2 bi-gear-fill fs-2"></i>
      <div>
        <h3 class="mb-0 fw-bold fs-4 text-body-emphasis">Передача программы в работу</h3>
        <p>После поступления оплаты мы запускаем проект в работу.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <i class="px-2 bi bi-house-heart-fill fs-2"></i>
      <div>
        <h3 class="mb-0 fw-bold fs-4 text-body-emphasis">Проведение и полное сопровождение меропрития</h3>
        <p>Наш сопрождающий с вами на всем маршруте.</p>
      </div>
    </div>
  </div>
</div>

{% comment %} how-we-work {% endcomment %}

<div class="container px-4" id="how-we-work">
  <h2 class="pb-2 border-bottom">Как оформить заявку?</h2>
  <p class="lead">Для оформления заявки/уточнения дополнительных вопросов вы можете выбрать один из удобных для вас способов связи:</p>
  <div class="py-5 row row-cols-1 row-cols-md-2 g-4">
    <div class="mx-auto col-sm col-md-4 offset-1">
      {% include 'forms/callback.html' %}
    </div>
    <div class="mx-auto col-sm col-md-6">
      <h3>Или позвоните нашему менеджеру:</h3>
      <div class="d-flex align-items-start">
        <img class="px-2 fs-2 rounded" src="{% static "img/alesya.webp" %}">
        <div>
          <h3 class="mb-0 fw-bold fs-4 text-body-emphasis">Алеся</h3>
          <a class="nav-link" href="tel:+375293147394">+375-29-314-73-94</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}