<section class="bg-white dark:bg-gray-900">
  <div class="max-w-screen-md px-4 py-8 mx-auto lg:py-16">
      <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-center text-gray-900 dark:text-white">Свяжитесь с нами</h2>
      <p class="mb-4 font-light text-center text-gray-500 lg:mb-16 dark:text-gray-400 sm:text-xl">Заполните форму и получите индивидуальный расчет тура, после консультации.</p>
      <form method="POST" action="#" class="space-y-4">

        {% csrf_token %}
        {{ form.as_p }}


          <button type="submit" class="px-5 py-3 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Отправить</button>
      </form>
  </div>
</section>


{% comment %} <div>
  <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Как вас зовут?</label>
  <input type="text" id="name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Давайте познакомимся" required>
</div>
<div>
  <label for="tel" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Ваш телефон</label>
  <input type="tel" id="tel" class="block w-full p-3 text-sm text-gray-900 border border-gray-300 rounded-lg shadow-sm bg-gray-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Например, +375-29-369-45-89" required>
</div> {% endcomment %}